@import '../../assets/vars/vars.scss';

.statistic{
    display: flex;
    column-gap: 30px;
    margin-bottom: 40px;
    &_item{
        flex: 1;
        padding: 24px 32px;
        text-align: center;
        cursor: pointer;
        font-weight: 700;
        .name{
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.4px;
            color: $santas-gray2;
            margin-bottom: 12px;
        }
        .count{
            
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 1px;
            color: $charade;
        }
        &:hover{
            border-color: $blue-ribbon;
            .name, .count{
                color: $blue-ribbon;
            }
        }
    }
}