$tuna: #363740;
$charade: #252733;
$mako: #3E4049;
$blue-ribbon: #3751FF;
$pomegranate: #F12B2C;
$amber: #FEC400;
$shamrock: #29CC97;
$mercury: #E5E5E5;
$santas-gray: #A4A6B3;
$santas-gray2: #9FA2B4;
$mid-gray: #60626E;
$fog: #DDE2FF;
$french-gray: #C5C7CD;
$zircon: #F7F8FF;
$athens-gray: #DFE0EB;
$white-lilac: #F7F8FC;
$white: #FFFFFF;
$fiord: #4B506D;
$whisper: #F0F1F7;
$jumbo: #797A84;
$black: #000000;