@import '../../assets/vars/vars.scss';

.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $french-gray;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="checkbox"] {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    &.active{
        background-color: $blue-ribbon;
        border-color: $blue-ribbon;
    }
}