@import '../../../../assets/vars/vars.scss';

.tickets{
    flex: 1;
    padding: 32px 0 8px;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px 16px;
        .title{
            h3 {
                font-weight: 700;
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.4px;
                color: $charade;
                margin-bottom: 8px;
            }
            p{
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.1px;
                color: $santas-gray2;
                span{
                    color: $fiord;
                }
            }
        }
        a{
            color: $blue-ribbon;
        }
    }
    .ticket{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px 18px;
        border-bottom: 1px solid $athens-gray;
        &:last-child{
            border-bottom: 0;
        }
        .name{
            color: $charade;
        }
        .count{
            color: $santas-gray2;
        }
    }
}